html,
body {
    height: 100%;
	min-height: 100%;
   /* overflow: hidden;*/
    margin: 0; 
     
    position: relative;
    color: #fff;
    cursor: default;
}

html {scrollbar-face-color: #367CD2;
scrollbar-shadow-color: #FFFFFF;
scrollbar-highlight-color: #FFFFFF;
scrollbar-3dlight-color: #FFFFFF;
scrollbar-darkshadow-color: #FFFFFF;
scrollbar-track-color: #FFFFFF;
scrollbar-arrow-color: #FFFFFF;}


a {
  cursor: pointer;
}

pre,code {
  cursor: auto;
}

body {
   /* background: #2A3139 url(../images/bg_home_tile_sml.jpg) repeat-x scroll 0 -40px;*/
   background-color: #70747A;
   padding: 0 15em; 
    font: 1em "Trebuchet MS",Verdana,Helvetica,Arial,sans-serif;
    font-size: .9em;
}

code,pre {
  font-family: Monaco,"Courier New";
  font-size: 90%;
}
pre {
  padding: 10px;
  background-color: #444B4D;
  /*border: 1px solid #ccc;*/
  overflow: auto;
}


#body {
  /*position: relative;*/
  height: 100%; /* FIXME causing window to scroll */
  color: #000;

}

#browser {
    position: absolute;
    width: 300px;
    top: 0;
    right: 60em;
    left: 0;
    overflow-y: auto;
    background-color: #2A3139;
}

#detail {
    position: absolute;
    top: 0;
    right: 0px;
    left: 320px;
    overflow-y: auto;
    background-color: #fff;
    font-size: 90%;
}

#header {
    height: 140px;
    position: relative;
}

#detail, #browser {
    bottom: 160px;
}

#header img {
    top: 19px;
    position: absolute;
}

#search {
    position: absolute;
    width: 300px;
    display: block;
    margin: 0 auto;
    top: 60px;
    left: 0;
    right: 0;
}

.inner {
    padding: 20px;
}

#browser .inner {
  padding: 0;
}

dl, dt, dd {
  padding: 0;
  margin: 0;
}

dt {
  background-color: #2A3139;
  color: #eee;
  padding: 5px;
  cursor: pointer;
}

dt:hover {
  background-color: #67788B;
}

dt.active {
  background: #0066A0 url(../images/close-ui.png) no-repeat 97%;
}

#categories dt.active {
  font-weight: bold;
}

#subcategories dt.active {
  border-bottom: 2px solid #ccc;
}

dt.active:hover {
  background-color: #0066A0;
}

#functions dt.active {
  background: #0066A0 url(../images/open-ui.png) no-repeat 97%;
}

/*#subcategories dt.active:hover:after,
#categories dt.active:hover:after {
  content: ' (remove filter)';
}
*/
p.cheat {
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
}

h1 {
  margin: 0;
}


.liveExample a {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #ccc;
}

.liveExample:hover a {
  display: block;
}

.liveExample {
  border: 2px dashed #ccc;
  padding: 10px;  
}

.liveExample:hover {
  border: 2px solid #ccc;
}

#detail iframe {
  border: 0;
  width: 100%;
}

/** Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

h1 .type {
  text-transform: lowercase;
  color: #ccc;
  font-size: 70%;
}

.meta {
  color: #aaa;
  font-size: 80%;
}


ul.options {
    padding: 0;
}

ul.options > li {
  padding: 10px 0;
  padding-left: 20px;
  list-style-position: inside;
}

ul.options:hover > li {
  opacity: 0.3;
}

ul.options:hover > li:hover {
  opacity: 1;
}

.loading {
    color: #fff;
    padding: 0 10px;
}

.external {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#navigation {
    background: #0F67A1 url(../images/bg_secondaryNav_left.gif) no-repeat scroll left top;
    clear: right;
    float: right;
    margin-top: 34px;
}

#navigation ul {
    background: transparent url(../images/bg_secondaryNav_right.gif) no-repeat scroll right top;
    padding: 0 0 0 8px;
    margin: 0;
    float: left;
}

#navigation li {
    border-right:1px solid #0D5995;
    border-left:1px solid #1175AE;
    float:left;
    height:34px;
    list-style: none;
    margin:0;
    padding:0;
}

#navigation li.first {
    border-left: 0;
}

#navigation li.last {
    border-right: 0;
}

#navigation li a,
#navigation li label {
    color:#EEEEEE;
    float:left;
    padding:0 20px;
    position: relative;
    text-decoration:none;
    line-height: 34px;
    cursor: pointer;
}

#navigation li input {
    font-size: 16px;
    margin: 0 0 0 10px;
    width: 100px;
    border: 0;
    padding: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

#navigation .selected,
#navigation a:hover {
/*    text-shadow: 2px 2px 2px #000;*/
}

span.fav {
    display: inline-table;
    height: 16px;
    width: 16px;
    padding: 5px;
    background: url(../images/fav-off.png) no-repeat bottom;
    cursor: pointer;
}

span.fav:hover,
span.fav.on {
    background: url(../images/fav-on.png) no-repeat bottom;
}

pre::selection,
pre span::selection {
  background-color: inherit!important;
}

p::selection,
dt::selection,
h1::selection,
h2::selection,
h3::selection,
li::selection,
a::selection,
span::selection,
div::selection,
strong::selection,
em::selection,
ul::selection,
label::selection,
img::selection {
  background-color: transparent;
}

/*#navigation li label < input:focus {
    text-shadow: 1px 1px 1px #333;
}
*/

body.offline a.edit {
  display: none;
}

#credit {
  position: absolute;
  bottom: 4px;
  font-size: 60%;
  color: #666;
  margin: 0;
  right: 10px;
}

#credit a {
  color: #666;
  padding: 2px;
}

#credit a:hover {
  color: #ccc;
}

#navigation a, #navigation label {
  position: relative;
  outline: 0;
}

#navigation span {
  position: relative;
  top: 0;
  left: 0;
}

#navigation span.jq-shadow {
  display: none;
}

#navigation .selected span {
  color: #fff;
}

#navigation .selected span.jq-shadow {
  color:#131C25;
  display: block;
  position:absolute;
  top:0.1em;
  left: 1.3em;
}

/* CSS Generated by Primer - primercss.com */
h2{
margin: 5px 5px 2px 5px;
}
h3{
margin: 5px 5px 2px 5px;
}
h4{
font-size: 1.2em;
margin: 5px 5px 2px 5px;
}
h5{
margin: 5px 5px 2px 5px;
}
pre{
margin: 2px 5px 15px 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
div.menuhead {
width: 14em;
position: absolute;
left: 0px;
top: 0px;
padding: 0 2px 0 5px;
overflow: auto;

}

span.menu {
font-weight: bold;
cursor: pointer;
}

span.sub {
color: lightgrey;	
cursor: pointer;
}

div.entry {
padding: 10px;
background-color: #2A3139;
-moz-border-radius: 5px;
border-radius: 5px;
overflow: hidden;
}

div.entrybanner {
background-color: #0B161C;
padding: 1px 5px 0 5px;	
-moz-border-radius: 5px;
border-radius: 5px;

}

div.signature {
background-color: #394C4F;
padding: 10px;	
-moz-border-radius: 5px;
border-radius: 5px;

}

div.version {
font-size: .9em;
font-style: italic;	
}

p.description {	
font-style :italic;
}

p.longdescription {
}

span.linkup {
background-color: #647849;
float: right;
-moz-border-radius: 5px;
border-radius: 5px;
margin: 1px 2px;
padding: 1px 3px;
font-size: .8em;

}
span.linkup  a{
color: #FFFF99;
text-decoration: none;
}

span.code {
background-color: #5A6262;
padding: 0 2px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.snapshot {
background-color: #525252;
padding: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width: 14em;
position: fixed;
top: 0;
right: 0;
height: 100%;
overflow: auto;
}
.snapshot div{
padding: 8px 0 8px 5px;
font-size: .7em;
}
.snapshot div a{
color: lightgrey;
text-decoration: none;
}
.snapshot input{
font-size: .7em;
}
.snapshot button{
font-size: .7em;

}
 

.fixfloatmenu{
position: fixed;
bottom: 0px;
left: 0px;
}